/* General Utilities */
.hover-overflow-y,
.hover-overflow-y:hover {
  overflow-y: hidden;
}

.hover-overflow-y:hover {
  overflow-y: auto;
}

/* App specific functional styles*/

body {
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --header-height: 50px;
  --sidebar-width: 150px;
}

.bg--body {
  background-color: #fafafa;
}
.b--main {
  border-color: #f1f1f1;
}

.h-header {
  height: var(--header-height);
}

.w-sidebar {
  width: var(--sidebar-width);
}

.top-sidebar {
  top: var(--header-height);
}

.ml-main {
  margin-left: var(--sidebar-width);
}
